{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}



{% block body %}
<br>
<h1>Hello world</h1>

<br>

    <main role="main" style="padding:20px">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Here is the Rishabh a coding enthusiast,speciallised in many Programming related frameworks and language<p>
            <p>Must Visit to my Profiles given in the Contact in the Nav Bar</p>
            <p>
              <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
          </div>
        </div>
      </main>
    </div>
  
{% endblock %}